*.o
leds_user
file.txt
fork_example
show_file
testfile
mytar
badsort-ptr
tmp/
fs-fuse
fs-fuse2
test/
virtual-disk
fuse.log
fuserr.log
*.bak
partial_sum1
partial_sum2
my_system
philosophers
philosophers
simulator
.tmp_versions/
*.ko
*.mod.c
*.ko.cmd
*.mod.o.cmd
*.o.cmd
modules.order
*.symvers
*.mod.cmd
*.mod
